.head-address{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.detail-address{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.btn-address{
    float: right    ;
    font-size: 12px;
    border: 1px solid var(--primary);
}
.btn-address:hover{
    font-size: 12px;
    border: 1px solid var(--primary);
    background-color: #2c2c2c;
}
.address-content{
    flex: 1;
}
.modal-header{
    border: none;
}
.modal-footer{
    border: none;
}
.modal-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.close{
    background-color: transparent;
    border: none;
}
.btn-add{
    font-size: 16px;
}

.address-box {   
    height: 178px;
    border: 1.5px solid var(--bg-overlay-2);
}
.default-address {
    border: 1.5px solid var(--primary);
    background-color: rgba(206, 254, 6, 0.1);
}

.address-name {
    margin-top: 24px;
    margin-left: 16px;
}

.address-name p {
    font-size: 16px;
}

.address-detail {
    margin-top: 8px;
    margin-left: 48px;
    margin-right: 8px;
    font-size: 14px;
}

.submit-address-btn {
    width: 539px;
    margin-top: 56px;
    margin-bottom: 40px;
    font-size: 20px;
}

.set-default-btn {
    background-color: var(--primary);
    margin-left: 16px;
    font-size: 12px;
    color: var(--bg-primary);
    padding: 8px 15px;
    border: none;
}

.edit-address-btn {
    background-color: transparent;
    border: none;
    margin-right: 12px;
    margin-left: 12px;
    padding: 8px 15px;
    font-size: 12px;
}

.edit-btn-container {
    margin-bottom: 24px;
    display: flex;
}

.location-icon{
    width: auto;
}

.wrap-left{
    width: 60%;
}

.wrap-right{
    width: 40%;
}

.desc-ship{
    font-size: 14px;
    margin-bottom: 64px;
}

.desc-payment{
    font-size: 14px;
}

.product-content{
    width: 50%;
}
.product-price{
    width: 20%;
    text-align: end;
}
.summary-container{
    margin-left: 1.5rem;
}

.form-container{
    width: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.product-container{
    padding: 1.5rem;
}
.product-img{
    width: 80px; 
    height:80px
}
.wrapper-product-content{
    padding: 0px 0.25rem 1rem 1rem;
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .wrapper-order{
        flex-direction: column;
        row-gap: 16px;
    }
    .summary-container{
        margin-left: 0px;
    }
    .wrap-left{
        width: 100%;
    }.wrap-right{
        width: 100%;
    }
    .form-container{
        margin-left: 0px;
    }
}

@media screen and (max-width: 426px) {
    .head-address{
        font-size: 16px;
    }
    .detail-address{
        font-size: 12px;
    }
    .product-container{
        padding: 1rem;
    }
    .product-img{
        width: 50px; 
        height:50px
    }
    .wrapper-product-content{
        padding: 0px 0.25rem 1rem 0.25rem;
    }
    .product-title{
        font-size: 14px;
    }
    .product-year{
        font-size: 14px;
    }
    .product-qty{
        font-size: 14px;
    }
    .product-price{
        font-size: 14px;
    }
    .product-content{
        width: 45%;
    }
    .product-price{
        width: 25%;
        text-align: end;
    }
    p{
        font-size: 14px;
    }
    
}