/* View Edit Profile CSS*/

.profile-container{
    width: 900px;
    max-height: 1300px;
    margin-top: 24px;
    background-color: var(--bg-overlay-1);
    display: flex;
    flex-direction: column;
    padding: 29px 40px 29px 40px;
}

.profile-title{
    font-size: 18px;
}

.profile-subtitle{
    font-size: 14px;
    color : var(--text-secondary);
}

.profile-content{
    padding-top: 20px;
}

.profile-image img{
    width: 250px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.profile-image label{
    border-radius: 0px;
    background-color: transparent;
    margin-top: 20px;
    width: auto;
    height: auto;
    padding: 10px 25px 10px 25px;
    border: 1px solid var(--bg-overlay-2);
    cursor: pointer;
    margin-bottom: 30px;
}

.rightbutton button{
    padding: 10px 25px 10px 25px;
}

.profile-form label{
    width: auto;
}

.inputbox {
    margin-bottom: 10px;
}

.form-split input{
    width: 200px;
}

.right-form{
    margin-left: 20px;
}

.idcard-Img img{
    width: 224px;
    height: 109px;
}

@media screen and (max-width: 950px){
    .profile-container{
        padding-bottom: 40px;
    }

    .profile-content .row{
        justify-content: space-around;
    }

    .profile-content .col-4{
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .profile-content .col-8{
        width: 100%;
    }
}

/* Edit Password CSS*/

.password-container{
    width: 750px;
    max-height: 810px;
    margin-top: 24px;
    background-color: var(--bg-overlay-1);
    display: flex;
    flex-direction: column;
    padding: 29px 40px 29px 40px;
}

.password-content{
    padding-top: 20px;
}

.password-content .inputbox{
    position: relative;
}

.password-content i{
    color: var(--text-secondary);
    position: absolute;
    right: 4%;
    cursor: pointer;
}

.password-content label{
    width: auto;
}

.nav-pills {
    border-bottom: 1px solid var(--bg-overlay-1);
}

.nav-pills .nav-item a {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-primary);
}

.nav-pills .nav-item.tab-active a {
    color: var(--primary); 
    border-bottom: 2px solid var(--primary); 
}

.nav-pills .nav-item a:hover {
    color: var(--primary);
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .nav-pills .nav-item a{
        font-size: 12px;
    }
}
