.container-catalog{
    padding-top: 64px;
    padding-bottom: 64px;
}
.container-catalog h4{
    margin-bottom: 24px;
}

.category-img{
    width: 158px;
    height: auto;
}
.category-content{
    flex: 0;
}
.category-content p{
    font-size: 12px;
}

.wrap-category{
    margin-bottom: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-artworks p{
    font-size: 12px;
}
.card-title {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 1em;
    margin: 0;
}

.card-desc {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 0.85em;
    margin: 0;
}

.card-body {
    padding: 0.75em 0 0 0;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img-top{
    border-radius: 0px;
}

.wrap-pagination{
    width: 100%;
}

.page-link{
    background-color: transparent;
    border: none;
    color:var(--text-primary);
    border-radius: 0px;
}
.page-link:hover{
    background-color: transparent;
    border: none;
    color:var(--primary);
}
.page-link.active, .active > .page-link {
    color: var(--primary);
    background-color: transparent;
}
.page-link.disabled, .disabled > .page-link {
    background-color: transparent;
    color: var(--text-secondary);
}
/* custom.css */
.pagination .page-link:focus {
    --bs-pagination-focus-box-shadow: none; /* or any other value you prefer */
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--text-primary);
    font-weight: 400;
}
.breadcrumb-item.active{
    font-weight: 600;
}
.breadcrumb-item{
    font-size: 14px;
}

.card-content{
    border: 2px solid var(--bg-overlay-1);
    width: 380px;
}

.artist-name{
    font-size: 16px;
}

.artist-desc{
    font-size: 14px;
    color: var(--text-secondary);
    width: 220px;
}

.text-truncate-multiline{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.wrap-content{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    column-gap: 24px;
    row-gap: 16px;
}

.top-artist{
    display: grid;
    grid-template-columns: 205px 205px 205px 205px 205px;
    column-gap: 40px;
    row-gap: 16px;
}

.wrap-head{
    border: 2px solid var(--bg-overlay-1);
    margin-bottom: 32px;
}
.rate{
    font-weight: 600;
}
.head-right{
    margin-left: 24px;
}

.wrap-tab{
    border-bottom: 1px solid var(--bg-overlay-1);
    padding-bottom: 8px;
    margin-bottom: 24px;
}

.wrap-tab .tab{
    padding: 10px 16px;
    
}

.tab.active{
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.wrap-review{
    display: grid;
    grid-template-columns: 375px 375px 375px;
    column-gap: 32px;
    row-gap: 16px;
}

.card-review{
    padding: 16px;
    border: 1px solid var(--bg-overlay-1);
    height: 230px;
}
.review-desc{
    font-size: 14px;
    color: var(--text-secondary);
}

@media screen and (max-width: 1300px){
    
}
@media screen and (max-width: 1024px){
    .wrap-category{
        justify-content: start;
        gap: 24px;
    }
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 375px){
    
}