/* Bagian atas */
.Upper-details-container
{
    display: flex;
    padding-bottom: 64px;
    padding-top: 64px;
}

.carousel{
    display: flex;
    justify-content: center;
}

/* ini untuk bagian carousels */
.carousel-inner
{
    display: flex;
    justify-content: start;
    width: 75%;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
    max-width: auto;
}

.carousel-inner {
    height: 75%;
}

.carousel-item {
    width: 100%;
}

.carousel-item img
{
    width: 100%;
}

.carousel-indicators
{
    bottom: -63px;
}

.carousel-indicators [data-bs-target]
{
    width: 8px;
    height: 8px;
    list-style-type: circle;
    background-color: var(--bg-overlay-2);
    border-radius: 50%;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: var(--primary);
}

/* button plus dan minus stock */
.product-stock {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;

}

.border {
    border: var(--bs-border-width) var(--bs-border-style) #303030 !important;
}

.buy-now
{
    width: 422px;
}

.cart
{
    background-color: var(--bg-overlay-1);
}

.cart-form{
    margin-left: 10px;
    width: auto;
}

input.inputcartnumber[type="number"]::-webkit-outer-spin-button,
input.inputcartnumber[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* bagian bawah */

.Lower-details-container
{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.Artwork-About
{
    color: var(--text-primary);
    padding-right: 32px;
}

.Artwork-About-Details
{
    border: 1.5px solid var(--bg-overlay-1);
    padding: 16px;
}

.Artist-About
{
    color: var(--text-primary);
    padding-left: 32px;
}

.Artist-About-Details
{
    display: flex;
    flex-direction: row;
    border: 1.5px solid var(--bg-overlay-1);
    padding: 16px;

}

.Artist-About-Details-Pic
{
    display: flex;
    flex-direction: row;
    padding-right: 8px;
}

.Artist-About-Details-Desc
{
    display: flex;
    flex-direction: column;
}

.artist-about-description-text{
    color: var(--text-secondary);
}

.image-profile {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    object-fit: cover;
}


/* responsive */

@media screen and (max-width: 1300px){
    body{
        margin: 48px 80px 0;
    }
}
@media screen and (max-width: 1024px){
    body{
        margin: 48px 56px 0;
    }
    .buy-now
    {
        width: 300px;
    }
}
@media screen and (max-width: 900px){
    body{
        margin: 32px 36px 0;
    }
    .buy-now
    {
        width: 250px;
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: 40%;
    }
}
@media screen and (max-width: 768px){
    body{
        margin: 32px 36px 0;
    }
    .buy-now
    {
        width: 250px;
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: 40%;
    }
}
@media screen and (max-width: 376px){
    body{
        margin: 24px 20px 0;
    }

    .col-md-6.product-detail-right {
        margin-top: 64px !important;
    }

    .Artist-About {
        color: var(--text-primary);
        padding-left: 8px;
        padding-top: 16px;
    }
}
