.notification {
    width: 462px;
    min-height: 66px;
    background-color: var(--bg-overlay-1);
    color: var(--text-primary);
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    z-index: 999999;
    transform: translateX(-50%);
    transition-delay: .4s;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
}
.notification-success{
    width: 462px;
    min-height: 66px;
    background-color: var(--bg-overlay-1);
    color: var(--text-primary);
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    z-index: 999999;
    transform: translateX(-50%);
    transition-delay: .4s;
    border: 1px solid red;
    display: flex;
    align-items: center; 
}
.no-title {
    display: none;
}

.notification.error {
    border: 1px solid red;
}

.notification-icon {
    margin-left: 32px;
    margin-right: 12px;
    margin-top: 32px;
}

.title {
    margin-left: 12px;
    font-size: 16px;
}

.notif-container {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

@media screen and (max-width: 426px) {
    .notification {
        width: 462px;
        height: 66px;
    }

    .title {
        font-size: 14px;
    }

    .notification-icon {
        margin-left: 18px;
        margin-right: 8px;
        margin-top: 18px;
    }

}