@import "@fortawesome/fontawesome-free/css/all.css";

footer{
    margin-top: 50px;
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: var(--text-primary);
}
a:hover{
    color: var(--primary);
}

h5{
    font-weight: bold;
}

img{
    width: 38%;
}

.col-lg-4 p{
    color: var(--text-secondary);
}

.footer-logo{
    margin-bottom: 20px;
}

.footer-list{
    color: var(--text-primary);

}

.footer-list li{
    padding: 5px;
}

.footer-social-logo{
    font-size: 30px;
    margin-top: 20px;
}

.footer-social-logo i{
    padding-right: 10px;
}

/* responsive */

@media screen and (max-width: 990px) {
   .footer-list{
    margin-top: 30px;
    width: 250px;
   }

   .col-lg-2{
    width: auto;
    padding: 0;
   }
}

@media screen and (max-width: 830px) {
    .footer-list{
     margin-top: 30px;
     width: 200px;
    }
 
    .col-lg-2{
     width: auto;
     padding: 0;
    }
 }

 @media screen and (max-width: 635px) {
    .footer-list{
     margin-top: 30px;
     width: 300px;
    }
 
    .col-lg-2{
     width: auto;
     padding: 0;
    }
 }