.dropdown {
    cursor: pointer;
}

.dropdown-menu {
    background-color: var(--bg-overlay-1);
    border: solid var(--bg-overlay-2);
    border-radius: 0;
    inset: 10px auto auto -15px !important;
}

.dropdown-item {
    color: var(--text-primary);
}

.dropdown-item:hover {
    color: var(--primary);
    background: var(--bg-overlay-1);
}
.profile-detail {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
p{
    margin:0;
}

.wrapper-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-pills .nav-item a {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-primary);
}

.nav-pills .nav-item.tab-active a {
    color: var(--primary); 
    border-bottom: 2px solid var(--primary); 
}

.nav-pills .nav-item a:hover {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .nav-pills .nav-item a{
        font-size: 12px;
    }
}