body{
    margin: 0px;
}

.invalid-feedback{
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.fs-12{
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

.fs-24{
    font-size: 24px;
}

a{
    text-decoration: none;
}

input[type="file"]{
    border: 1px solid transparent;
    color: var(--text-secondary);
}
input[type="file"]:focus{
    border: 1px solid transparent;
    color: var(--text-secondary);
}
input[type="file"]::-webkit-file-upload-button{
    background-color: transparent;
    color: var(--text-secondary);
    border: 1px solid var(--bg-overlay-2);
}
input[type="file"]:hover::-webkit-file-upload-button{
    background-color: transparent !important;
    color: var(--text-secondary);
    border: 1px solid var(--primary);
}

.span-label{
    color: var(--primary);
    font-weight: 500;
    font-size: 12px;
    transition: all .1s ease-in;
}
.span-label:hover{
    color: #ABD400;
}