p {
    color: var(--text-primary);
    margin: 0;
}

.text-nav {
    color: var(--text-primary);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    display: block;
}

.navigation-content {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    align-items: center;
    z-index: 99999;
}

.search {
    display: flex;
    justify-content: center;
    gap: 0.75em;
    align-items: center;
    padding: 0.5em 1em;
    border: solid var(--bg-overlay-2);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 99999;
    position: relative;
}

.navigation-input {
    width: 20em;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: none;
    outline: none;
}

.search input[type="text"] {
    width: 20em;
    background-color: transparent;
    color: var(--text-primary);
    border: none;
    outline: none;
    outline: none;
}


.navigation-item-link {
    display: flex;
    justify-content: space-between;
    gap: 1.2em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: var(--text-primary);
}



a:hover {
    color: var(--primary);
}

.button-group {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.btn-signup {

    color: var(--primary);
    font-weight: 600;
    background: none;
    border: none;
}

.btn-signup:hover {
    opacity: 0.8;
}

.btn-login {
    color: var(--bg-primary);
    font-weight: 600;
    padding: 0.5em 1em;
    background: var(--primary);
    border: none;
}

.btn-login:hover {
    opacity: 0.8;
}


.image-profile {
    width: 2em;
    height: 2em;
    border-radius: 100%;
}



.profile-detail {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.cart path:hover {
    fill: var(--primary);
    /* Change the fill color */
    fill: var(--primary);
    /* Change the fill color */
}

.dropdown {
    cursor: pointer;
}

.dropdown-menu {
    background-color: var(--bg-overlay-1);
    border: solid var(--bg-overlay-2);
    border-radius: 0;
}

.dropdown-item {
    color: var(--text-primary);
}

.dropdown-item:hover {
    color: var(--primary);
    background: var(--bg-overlay-1);
}
.profile-mobile{
    display: none;
}
.button-group-mobile{
    display: none;
}

/* responsive */
@media screen and (max-width: 1360px) {
    .search {
        gap: 0.5em;
    }

    .navigation-content {
        gap: 2.5em;
    }
}

@media screen and (max-width: 1200px) {
    .search {
        gap: 0.5em;
    }

    .search input[type="text"] {
        width: auto;
    }

    .navigation-item-link {
        gap: 0.8em;
    }

    .navigation-content {
        gap: 2.5em;
    }
}

@media screen and (max-width: 1024px) {

    .search input[type="text"] {
        width: auto;
    }

    .navigation-item-link {
        gap: 0.5em;
    }

    .navigation-content {
        gap: 1.5em;
    }
}

input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 915px) {
    .button-group{
        display: none;
    }
    .button-group-mobile{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .profile-mobile{
        display: block;
    }
    .search input[type="text"] {
        background-color: var(--bg-overlay-1);
    }

    .navigation-content {
        flex-direction: column;
        justify-content: space-evenly;
        background: var(--bg-overlay-1);
        top: 100px;
        left: 0;
        position: absolute;
        width: 100%;
        align-items: center;
        height: 0;
        /* padding: 1.5em 0; */
        transition: 0.5s;
        overflow: hidden;
    }

    .navigation-item-link {
        flex-direction: column;
        gap: 1.2em;
    }

    .button-group {
        flex-direction: column;
    }

    label {
        border: solid;
        width: 30px;
        height: 22px;
        position: relative;
        border: none;
    }

    label div {
        width: 100%;
        height: 4px;
        background: var(--primary);
        position: absolute;
        transform: translateY(-50%);

    }

    label div:nth-child(1) {
        top: 0;
    }

    label div:nth-child(2) {
        top: 50%;
    }

    label div:nth-child(3) {
        top: 100%;
    }

    input:checked~.navigation-content {
        height: 100vh;
    }

}

@media screen and (max-width: 600px) {
    label {
        width: 24px;
        height: 16px;
    }

    label div {
        height: 3px;
    }

}