p{
    color: var(--text-primary);
    margin: 0;
}
.text-nav{
    color: var(--text-primary);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
.search{
    display: flex;
    justify-content: center;
    gap: 0.75em;
    align-items: center;
    padding: 0.5em 1em;
    border: solid var(--bg-overlay-2);
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}
input[type="text"]{
    width: 20em;
    background-color:var(--bg-primary);
    color: var(--text-primary);
    border: none;
    outline: none; 
}

.navigation-item-link{
    display: flex;
    justify-content: space-between;
    gap: 1.2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--text-primary);
}
a:hover{
    color: var(--primary);
}
.button-group{
    display: flex;
    gap: 1.5em;
    align-items: center;
}
.btn-signup{
    color: var(--primary);
    font-weight: 600;
    background: none;
    border: none;
}
.btn-signup:hover{
    opacity: 0.8;
}
.btn-login{
    color: var(--bg-primary);
    font-weight: 600;
    padding: 0.5em 1em;
    background: var(--primary);
    border: none;
}
.btn-login:hover{
    opacity: 0.8;
}
.image-profile{
    width: 2em;
    height: 2em;
    border-radius: 100%;
}
.profile-detail{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.cart path:hover {
    fill: var(--primary); /* Change the fill color */
}
