.notification {
    width: 462px;
    min-height: 136px;
    background-color: var(--bg-overlay-1);
    color: var(--text-primary);
    position: absolute;
    top: 85%;
    left: 50%;
    text-align: center;
    z-index: 999999;
    transform: translateX(-50%);
    transition-delay: .2s;
    border: 2px solid var(--bg-overlay-2);
}

.no-title {
    display: none;
}

.notification.show-animate {
    top: 100px;
}

.notification.error {
    color: rgba(149, 32, 32, 1);
    background-color: rgba(255, 222, 222, 1);
}

.notification-icon {
    margin-left: 32px;
    margin-right: 12px;
    margin-top: 32px;
}

.notification-title {
    margin-top: 28px;
    margin-bottom: 32px;
}

.title {
    margin-bottom: 10px;
    font-size: 20px;
}

.notification-art-name {
    margin-bottom: 4px;
    font-size: 14px;
    text-align: left;
}

.notification-artist-name {
    color: var(--text-secondary);
    font-size: 14px;
    text-align: left;
}

.notification-price {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 9px;
    margin-left: 120px;
    margin-top: 18px;
}

.notification-price p {
    color: var(--primary);
}

.notification-close-icon {
    position: absolute;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    right: 0;
}

.title-container {
    margin-left: 50px;
}

@media screen and (max-width: 426px) {
    .notification {
        width: 250px;
        min-height: 80px;
    }

    .title {
        font-size: 14px;
    }

    .notification-icon {
        margin-left: 18px;
        margin-right: 8px;
        margin-top: 18px;
    }

    .notification-title {
        margin-top: 16px;
        margin-bottom: 18px;
        width: 100px;
    }

    .title-container {
        width: 160px;
        margin-left: 0px;
    }
}