/* View Edit Profile CSS*/

.profile-container{
    width: 900px;
    max-height: 810px;
    margin-top: 24px;
    background-color: var(--bg-overlay-1);
    display: flex;
    flex-direction: column;
    padding: 29px 40px 29px 40px;
}

.profile-title{
    font-size: 18px;
}

.profile-subtitle{
    font-size: 14px;
    color : var(--text-secondary);
}

.profile-content{
    padding-top: 20px;
}

.profile-image img{
    width: 250px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.profile-image label{
    border-radius: 0px;
    background-color: transparent;
    margin-top: 20px;
    padding: 10px 25px 10px 25px;
    border: 1px solid var(--bg-overlay-2);
    cursor: pointer;
}

.rightbutton button{
    padding: 10px 25px 10px 25px;
}

/* Edit Password CSS*/

.password-container{
    width: 750px;
    max-height: 810px;
    margin-top: 24px;
    background-color: var(--bg-overlay-1);
    display: flex;
    flex-direction: column;
    padding: 29px 40px 29px 40px;
}

.password-content{
    padding-top: 20px;
}

/* View Address List CSS */

.view-address-list-container {
    margin-top: 26px;
    margin-bottom: 0px;
}

.nav-pills .nav-item a {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
}

.nav-pills .nav-item.tab-active a {
    color: var(--primary); 
    border-bottom: 2px solid var(--primary); 
}

.nav-pills .nav-item a:hover {
    text-decoration: none;
}

.location-icon {
    width: 20px;
}

.address-list-container {
    width: 619px;
    max-height: 810px;
    margin-top: 24px;
    background-color: var(--bg-overlay-1);
    display: flex;
    flex-direction: column;
}

.view-address-title {
    margin-left: 40px;
    margin-top: 29px;
    padding-bottom: 37px;
    font-size: 18px;
}

.address-box {
    width: 539px;
    height: 178px;
    margin-right: 40px;
    margin-left: 40px;
    border: 1.5px solid var(--bg-overlay-2);
}

.loop-container {
    overflow-x: hidden;
    overflow-y: scroll;
}

.default-address {
    border: 1.5px solid var(--primary);
    background-color: rgba(206, 254, 6, 0.1);
}

.address-name {
    margin-top: 24px;
    margin-left: 16px;
}

.address-name p {
    font-size: 16px;
}

.address-detail {
    margin-top: 8px;
    margin-left: 48px;
    margin-right: 8px;
    font-size: 14px;
}

.submit-address-btn {
    width: 539px;
    margin-top: 56px;
    margin-bottom: 40px;
    font-size: 20px;
}

.set-default-btn {
    background-color: var(--primary);
    margin-left: 16px;
    font-size: 12px;
    color: var(--bg-primary);
    padding: 8px 15px;
    border: none;
}

.edit-address-btn {
    background-color: transparent;
    border: none;
    margin-right: 12px;
    margin-left: 12px;
    padding: 8px 15px;
    font-size: 12px;
}

.edit-btn-container {
    margin-bottom: 24px;
    display: flex;
}

.loop-container::-webkit-scrollbar {
    display: none;
}

/* Add New Address CSS */

.form-add-container {
    width: 619px;
    height: 991px;
    background-color: var(--bg-overlay-1);
    margin-top: 24.5px;
}

.add-address-title {
    color: var(--text-primary);
    font-size: 18px;
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.address-label {
    font-size: 14px;
    color: var(--text-primary);
    margin-bottom: 8px;
    width: 100%;
}

.add-input-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 12px;
}

.add-address-country {
    background-color: var(--bg-overlay-1);
    color: var(--text-primary);
}

.add-address-description {
    height: 136px;
    resize: none;
}

.add-address-description::-webkit-scrollbar {
    display: none;
}

.create-address-container {
    margin-top: 0px;
}

.submit-add-address-container {
    width: 539px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.submit-add-address-btn {
    width: 100%;
    margin-top:10px;
}

/* Update User Address CSS */
.update-address-container {
    margin-top: 0px;
    margin-bottom: 200px;
}

.submit-update-address-btn {
    width: 100%;
    margin-top:10px;
}

@media screen and (max-width: 1024px) {
    /* Address Responsive */
    .view-address-list-container {
        margin-left: auto;
    }

    .tab-link a {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    /* Address Responsive */
    .address-list-container {
        margin-left: 0px;
        width: 500px;
    }

    .address-box {
        width: 420px;
    }

    .location-icon {
        width: 20px;
    }

    .address-name {
        margin-top: 18px;
    }

    .address-head p {
        font-size: 14px;
    }

    .address-detail {
        font-size: 12px;
        margin-left: 43px;
    }

    .tab-link a {
        font-size: 12px;
    }

    .btn-primary {
        font-size: 10px;
    }

    .edit-address-btn {
        font-size: 10px;
    }

    .submit-address-btn-container {
        width: 418px;
        margin: auto;
    }

    .submit-address-btn-container .submit-address-btn {
        font-size: 12px;
    }

    .form-add-container {
        width: 500px;
    }

    .submit-add-address-container {
        width: 418px;
        margin: auto;
    }

    .submit-add-address-container .submit-add-address-btn{ 
        font-size: 14px;
    }

    .submit-add-address-container .submit-update-address-btn{ 
        font-size: 14px;
    }

    .add-address-title {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .address-label {
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 376px) {

    /* Address Responsive */

    .address-list-container {
        width: 300px;
    }

    .view-address-title {
        font-size: 14px;
        margin: 18px 20px;
        padding: 0;
    }

    .loop-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .address-box {
        width: 240px;
        height: 160px;
        margin: 0px 12px;
    }

    .address-name {
        margin: 8px 0px 0px 14px;
    }

    .address-name p{
        font-size: 12px;
    }

    .address-detail {
        font-size: 10px;
        margin-left: 43px;
    }

    .edit-btn-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }

    .btn-primary {
        padding: 5px 8px;
    }

    .edit-address-btn {
        padding: 5px 8px;
    }

    .submit-address-btn-container {
        width: 238px;
    }

    .submit-address-btn {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .form-add-container {
        width: 300px;
    }

    .submit-add-address-container {
        width: 220px;
    }

    .submit-add-address-btn {
        width: 100%;
    }

    /* ul {
        width: 300px;
    } */
}