.user-table {
    text-align: center;
    /* width: 1013px; */
}

th.user-table-title.sorting{
    text-align: center;
    color: var(--text-secondary);
}

.dataTables_length {
    /* margin: 24px 24px 20px 24px; */
    margin-bottom: 24px;
    position: relative;
}

.dataTables_filter {
    /* margin: 24px 24px 20px 24px; */
    margin-bottom: 24px;
    position: relative;
}

.user-container {
    background-color: var(--bg-overlay-1);
}

.dataTables_wrapper .dataTables_filter input {
    width: 277px;
    height: 37px;
    /* margin-left: 32px; */
    color: var(--text-primary);
}

.dataTables_wrapper .dataTables_length select {
    width: 78px;
    height: 37px;
    color: var(--text-primary);
}

.dataTables_wrapper .dataTables_length select {
    margin-right: 5px;
    margin-left: 5px;
}

.dataTables_wrapper .dataTables_info {
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 24px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 16px;
    margin-bottom: 24px;
    margin-right: 24px;
}

table.dataTable {
    border: 1px solid var(--bg-overlay-2);
}

.user-container .dataTables_wrapper table.dataTable.no-footer {
    border-bottom: 1px solid var(--bg-overlay-2);
}

.container.user-container {
    padding: 0px;
}

.container.user-container .dataTables_wrapper table.dataTable {
    /* margin-right: 24px;
    margin-left: 24px; */
    /* margin-top: 24px; */
    width: 100%;
    position: relative;

}
.dataTables_wrapper{
   padding: 24px 24px 24px 24px;
}
.btn-secondary{
    background-color: transparent;
}

/* .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: transparent;
} */