.order-details-container {
    background-color: var(--bg-overlay-1);
    width: 423px;
    height: auto;
    margin-right: 24px;
}

.order-details-header {
    margin-top: 32px;
    margin-left: 36px;
    margin-bottom: 30px;
}

.order-container {
    margin-left: 36px;
    margin-bottom: 20px;
}

.item-details-container {
    background-color: var(--bg-overlay-1);
    width: 663px;
    max-height: 754px;
    overflow-y: auto;
}

.item-details-header {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 32px;
    margin-bottom: 38px;
}

.item-picture {
    width: 80px;
    height: 80px;
    margin-right: 24px;
}

.details-container {
    margin-left: 48px;
    margin-right: 32px;
    margin-bottom: 40px;
}

.transaction-detail-container {
    margin-bottom: 230px;
}

.sent-btn-container {
    margin-right: 32px;
    margin-bottom: 32px;
}

.modal-content {
    background-color: var(--bg-overlay-1);
}

.order-details-p {
    font-size: 20px;
}

.buyer-name {
    margin-left: 32px;
}

.sent-btn {
    width: 80px;
    height: 40px;
}

.logo-container {
    margin-top: 48px;
    margin-bottom: 56px;
}

.quantity-p {
    margin-right: 40px;
}

@media screen and (max-width: 1000px) {
    .order-details-p {
        font-size: 16px;
    }

    .order-container p {
        font-size: 12px;
        margin-right: 10px;
    }

    .item-container p {
        font-size: 12px;
    }

    .item-details-header {
        font-size: 16px;
    }

    .item-picture {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .details-container {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .buyer-name {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .sent-btn {
        width: 70px;
        height: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    html {
        display: flex;
        justify-content: center;
    }

    .transaction-detail-container {
        display: flex;
        flex-direction: column;
    }

    .order-details-container {
        width: 400px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .item-details-container {
        width: 400px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 500px) {
    .order-details-container {
        width: 330px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .item-details-container {
        width: 330px;
        margin-bottom: 80px;
    }

    .quantity-p {
        margin-right: 10px;
    }
}