.mr-left {
    max-width: 1320px;
    margin-left: 34px;
}

i {
    margin-left: 16px;
    cursor: pointer;
}

.text-primary {
    margin-bottom: 0px;
    background-color: transparent;
    font-size: 40px;
}

input{
    border: none;
    cursor: pointer;
}

.text-secondary {
    margin-top: 8px;
}

.count-container {
    margin-top: 32px;
}

.item-container {
    background-color: var(--bg-overlay-1);
    width: 240px;
    height: 120px;
    margin-right: 16px;
}

.monthly {
    width: 598px;
    height: 276px;
    margin-right: 24px;
}

.monthly p {
    margin-top: 32px;
    margin-bottom: 20px;
}

.return-container {
    width: 386px;
    height: 276px;
    background-color: var(--bg-overlay-1);
}

.return-table-border {
    width: 370px;
    height: 260px;
    border: 1px solid var(--bg-overlay-2);
    overflow-y: auto;
}

.return p {
    margin-top: 32px;
    margin-bottom: 20px;
}

.on-going-auctions {
    margin-right: 20px;
}

.on-going-auctions p {
    margin-top: 32px;
    margin-bottom: 20px;
}

.on-going-auctions-table {
    width: 503px;
    height: 208px;
    background-color: var(--bg-overlay-1);
}

.verification-requests p {
    margin-top: 32px;
    margin-bottom: 20px;
}

.verification-requests-table {
    width: 482px;
    height: 208px;
    background-color: var(--bg-overlay-1);
}

.chart-container {
    background-color: var(--bg-overlay-1);
    min-width: 100%;
    min-height: 100%;
}

.verification-requests-container {
    width: 482px;
    height: 208px;
    background-color: var(--bg-overlay-1);
}

.verification-requests-border {
    width: 466px;
    height: 192px;
    border: 1px solid var(--bg-overlay-2);
    overflow-y: auto;
}

.image-test {
    background-color: var(--bg-overlay-1);
    min-width: 100%;
    min-height: 100%;
}

tbody td {
    border: none;
}

.check-btn {
    margin-bottom: 5px;
}

.on-going-auctions-container {
    width: 503px;
    height: 208px;
    background-color: var(--bg-overlay-1);
}

.on-going-auctions-border {
    width: 487px;
    height: 192px;
    border: 1px solid var(--bg-overlay-2);
    overflow-y: auto;
}

thead tr th {
    border: none;
}

.third-container {
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-overlay-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-overlay-2);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
}

@media screen and (max-width: 1400px) {
    .mr-left {
        margin-right: 34px;
    }

    .count-container {
        flex-direction: column;
    }

    .item-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .third-container {
        flex-direction: column;
    }

    .monthly {
        margin-bottom: 40px;
    }

    .fourth-container {
        flex-direction: column;
    }

    .return {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1030px) {
    .monthly {
        width: 90%;
    }
}
@media screen and (max-width: 530px) {
    .total-earnings {
        font-size: 24px;
        width: 14px;
    }

    .on-going-auctions {
        width: 290px;
        margin-right: 0;
    }

    .on-going-auctions-container {
        width: 100%;
    }

    .verification-requests {
        width: 290px;
    }

    .verification-requests-container {
        width: 100%;
    }

    .return {
        width: 290px;
    }

    .monthly {
        width: 290px;
        height: 150px;
    }

    .return-container {
        width: 100%;
    }

    h3.text-primary {
        font-size: 30px;
    }

    input#currencyInput.text-primary.fw-semibold.total-earnings {
        width: 20px;
    }

    i#togglePassword.bi {
        margin-left: 10px;
        width: 25px;
    }

    .mr-left {
        margin-left: 0px;
    }

    table thead th {
        font-size: 14px;
    }

    table tbody td {
        font-size: 12px;
    }

    .check-btn {
        font-size: 10px;
    }

    .btn {
        font-size: 13px;
    }

    a.btn.btn-primary.check-btn {
        font-size: 12px;
    }
}